section {
  background-color: honeydew;
}
div {
  margin: 15px;
  width: 100px;
  height: 100px;
  background-color: orange;
}
.inline-block > div {
  display: inline-block;
}
.inline > div {
  display: inline;
}
.block > div {
  display: inline-block;
}
