body {
  
  background-color: lemonchiffon;
}
section {
  align-content: center;
  max-width: 80%;
  background-color: darkseagreen;
}
h1 {
  text-align: center;
  background-color: darkslategray;
  color: ivory;
}
article{
    align-content: center;
    max-width: 80%;
    background-color: burlywood;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
img{
    max-width: 50%;
}
p {
  max-width: 80%;
  background-color: antiquewhite;
}
