* {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

h1,
p {
    background-color: rgb(246, 255, 127);
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

tr {
    height: 1.8lh;
}

td>label {
    padding-right: 5px;
}

.tdperso>input {
    border: none;
}

.tdperso {
    border: 1px solid black;
}

input {
    background-color: rgb(217, 234, 255);
}

ul {
    list-style-type: none;
    margin-left: 2%;
    margin-top: -10px;
}

ol {
    font-weight: bold;
}

.unbold>label {
    font-weight: normal;
}

.unbold2 {
    margin-top: 5px;
}

.unbold2>label {
    font-weight: normal;

}

.sec1 {
    margin-left: 150px;
}

/* die checkboxen sind wirklich unbelehrbar... */
input[type="checkbox"] {
    border: 1px solid black !important;
    border-style: none;
}

input[id="amtkennz"] {
    padding: 5px;
    border-style: none;
}

.amt {
    display: inline-block;
    height: 30px;
    border: 1px solid black;
}

.sec5 {
    margin: 5%;
}

.sec5>input {
    margin: 10px;
}

span {
    font-size: small;
}