table {
    border: 2px solid;
    border-color: gold;
    background-color: rgb(128, 128, 128, 0.5);
    width: 100%;
    color: beige;
}
th, td {
    padding: 7px;    
    border: 1px solid;
    border-color: ghostwhite;
}
tr:hover{
    background-color: rgb(0, 139, 139, 0.5);
    color: gold;
}