*{font-family: 'Courier New', Courier, monospace;}
h1 {
    background-color: aquamarine;
}

li {list-style-type: disc;
width: 300px;
padding: 5px 10px;
margin: 5px;
background-color: rgb(192, 236, 236);}